rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /armadietto/{aic} {
      allow read, write: if true;
    }
  }
}
